@import '~@ng-select/ng-select/themes/material.theme.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.outer-shell {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.container {
  padding: 20px;
  width: 100%;
}

.example-sidenav-container {
  display: flex;
  flex-grow: 1;
}

form {
  width: 100%;
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2,
h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.multi-line-row {
  width: 100%;
  display: block;

  formly-form {
    display: flex;
    width: 100%;

    formly-field {
      flex-grow: 1;
      margin-right: 15px;
    }

    .row-action-buttons {
      margin-top: 5px;

      button {
        width: inherit;
        height: inherit;
      }
    }
  }
}

.display-flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

[class*='flex-'] {
  padding-left: 10px;
  padding-right: 10px;
}

[class*='flex-']:first-child {
  padding-left: 0;
}

[class*='flex-']:nth-last-child(2) {
  padding-right: 0;
}
